# dependencies
/node_modules
package-lock.json
packages/**/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# tests
/coverage
/.nyc_output

# source
.claude
dist
packages/**/dist